body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background: #8f57fd;
    /* background: linear-gradient(#21c08b, #8f57fd); */
}

.header{
    background-color: #24C6DC;
    display: flex;
    justify-content: center;
    height: 100px;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px 15px;
    width: 500px;
    height: 100px;
}
.header__container--logo{
    display: flex;
    flex-direction: row;  
    align-items: center;  
    height: 100px;
}
.header__container--logo img{
    width: 30px;    
    height: 30px;
}
.header__container--logo h4{
    padding: 0px;
    margin: 0px;
}
.header__container a{
    text-decoration: none;
}
.header__container a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main{
    background: #24C6DC;
    background: -webkit-linear-gradient(#24C6DC, #514A9D);
    background: linear-gradient(#24C6DC, #514A9D);
}
.plano{
    /* background-color: white; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plano__container{
    background: url('./images/plano-cartesiano.svg');
    width: 500px;
    height: 500px;
    display:grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}
.plano__container--punto{
    background: red;
    grid-column: 20 / 20;
    border-radius: 25px;
    /* display: none; */
}
.plano__container--punto2{
    /* background: white; */
    grid-column: 20 / 20;
    /* border-radius: 25px; */
    /* display: none; */
}

.pregunta{
    height: 160;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pregunta__container{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 25px 25px;
    border: 2px solid white;
    width: 500px;
    height: 160px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 14px;

}
.pregunta__container p, .pregunta__container h3{
    margin: 2px 0px;
}
.plano__container--pregunta{
    height: 70px;
    /* background: aqua; */
}
.plano__container--datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plano__container--respuesta{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plano__container--respuesta h3{
    font-size: 30px;
}
.input{
    background: transparent;
    width: 50px;
    outline: none;
    border: none;
    height: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}
.button{
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    color: white;
    width: 100px;
    height: 40px;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 25px;
}
.footer{
    background-color: #514A9D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100px;
    padding-left: 30px;
}
.footer p, .footer a{
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

.hide{
    display: none;
}

@media only screen and (max-width: 600px){
    .plano{
        height: 320px;
    }
    .plano__container{
        width: 320px;
        height: 320px;
    }
    .pregunta__container{
        border:none;
        border-radius: 0;
    }
    .button{
        width: 80px;
    }
}

.animated{
    animation-name: pulse;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
}